@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
}

.style {
  background-image: url('./background.png');
  background-size: 100%;
  height: 100%;
  color: white;
  
}
input::placeholder {
  color: rgb(231, 231, 231);
}

#email::placeholder {
  color: rgb(2, 1, 1);
}

#password::placeholder {
  color: rgb(2, 1, 1);
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0.7;
  font-family: 'Caveat', cursive;
}

.header {
  background: rgb(1, 5, 4);
  opacity: 0.7;
  height: 70px;
  align-items: center;
  display: flex;
  justify-content: space-between;
 font-family: 'Caveat', cursive;

}


.titulo {
  color: white;
  margin: 15px;
  font-size: 3rem;
  text-align: center;
  font-family: 'Caveat', cursive;
  
}

.trybewarts-header-logo {
  width: 50px;
  margin-left: 10px;
}

#trybewarts-header-title {
  text-align: center;
  align-self: center;
  color: aliceblue;
  font-family: 'Caveat', cursive;
  font-size: 3rem;
  margin-top: -10px;
}

.trybewarts-login {
  display: flex;
  margin-right: 10px;
  justify-content: space-between;
  width: 40%;
 }

.input-email{
  height: 30px;
  border:none;
  border-radius: 10px;
}

.input-password{
  height: 30px;
  border:none;
  border-radius: 10px;
}

.input {
  border: none;
  border: 2px solid white;
  width: 300px;
  border-radius: 10px;
  color: white;
  background-color: rgba(129, 124, 118, 0.1);
  height: 30px;
  margin-left: 20px;
  margin-top: 10px;
}

.label-house{
margin-left: 60px;
}

#house{
  margin-top: 20px;
  width: 100px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(138, 134, 134);
  color: white;
}

#input-login {
  height: 30px;
  width: 70px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 252, 248);
  border:none;
  border-radius: 10px;
  
}


#submit-btn {
  height: 30px;
  width: 70px;
  box-shadow: 2px 5px 10px rgb(36, 39, 39);
  color: white;
  background-color: rgba(129, 124, 118, 0.4);
}

.style-btn {
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

#form-data {
  display: none;
  margin-top: 3%;
  padding: 7% 20% 20%;
  border-radius: 7%;
  background-color: rgba(129, 124, 118, 0.4);
  
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-bottom: 50px;
  margin-top: 1%;
  border-radius: 7%;
  background-color: rgba(129, 124, 118, 0.4);
  border:none;
  border-radius: 10px;
  font-family: 'roboto';
  
}

.tela {
  display: flex;
  justify-content: space-around;
}

#trybewarts-forms-logo {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.label-house {
  height: 3rem;
  width: 60px;
  display: flex;
  text-align: center;
  align-items: center;
}

.input-select {
  width: 80%;
}

.div-house {
  display: flex;
  width: 45%;
  margin-left: 0.6rem;
  flex-wrap: wrap;
}

.section-name-lastname {
  display: flex;
}

.section-email {
  width: 40%;
}

.casa {
  display: flex;
}

.primeira {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.family {
  width: 30%;
}

.family input {
  margin-top: 10px;
  margin-right: 5px;
}

.conteudos {
  width: 60%;
}

.check {
  display: flex;
  flex-direction: column;
  margin-right: 20%;
}

.conteudos-ordenados {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-right: 10px;
}

.conteudos-ordenados input {
  margin-right: 10px;
}

.divide {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.avaliacao {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 5px;
  width: 60%;
  padding-top: 3%;
}




#textarea {
  display: flex;
  flex-direction: column;
  background-color: rgba(129, 124, 118, 0.4);
  color: white;
  margin-left: -120px;
  width: 500px;
  border: solid 2px white;
  border-radius: 10px;
}

.textarea{
  margin-left: 10%;
  margin-top: 2%;
  
}

#label-rate{
  margin-left: 6%;
  margin-top: 5%;
  font-size: 19px;
  display: flex;
  width: 300px;
}
.avaliacao{
  margin-top: -4px;
  margin-left: -5px;
  
}
#counter {

  display: flex;
  margin-left: 75%;
  margin-top: -9%;
  font-size: 15px;
}

.style-text-area {
  padding-left: 30%;
  padding-top: 5%;
}

.btn {
  text-align: center;
  align-self: center;
}

footer h3 {
  height: 35px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(10, 9, 9);
}

.style-agreement {
  padding-top: 3%;
  padding-left: 15%;
}
